body{
    height: 100%;
    overflow: visible;
}
body.modal-open{
    overflow: visible !important;
}
html{
    background: none;
}
a{
    cursor: pointer;
}
.note-editor.codeview .note-codable {
    background-color: #222;
}

/* select2 */
div.select2-drop {
    z-index: 99999;
}
.select2-container-multi a.select2-search-choice-close {
    padding: 0;
    text-align: center;
}
a.select2-search-choice-close:before {
    position: absolute;
    top: 4px;
    right: 4px;
}

.modal-open{
    overflow: auto;
}
div#modal_wrapper div.modal, div#modal_form{
    z-index: 2000;
}

.bigBox {
    z-index: 9100001;
}
.image_storage_wrapper {
    width: 100%;
    height: 100%;
    z-index: 999901;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background: #fff;
}
.image_storage_wrapper .close_image_storage {
    position: absolute;
    top: 3px;
    right: 3px;
    z-index: 9;
}
.divMessageBox {
    z-index: 999981;
}


.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd,
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

.smart-style-3 .login-info a span{
    font-size: 13px;
}
.demo{
    background: #fff;
    position: static;
}
.demo.activate{
    position: absolute;
    background: #f1da91 none repeat scroll 0 0;
}
.modal-footer{
    border: none;
}

.table-striped > tbody > tr:nth-child(2n+1){
    background: none;
}

.smart-style-5 #inbox-table tbody tr:hover, .smart-style-5 .table-hover > tbody > tr:hover > td{
    background: #666;
}
.smart-style-5 .modal-content{
    background-size: cover;
}
.btn {
    padding: 4px 8px;
}
.SmallBox{
    width: 290px;
}
div.tb-uploaded-image-container{
    text-align: center;
    background: none;
    padding: 5px 0;
}
.table-responsive{
    overflow-x: visible;
}
.modal{
    position: absolute;
}

.modal-open .modal{
    overflow: visible;
}
.modal-backdrop{
    z-index: 905;
}
div.tb-uploaded-image-container ul li{
    width: 120px;
    height: 120px;
    border: 1px solid #eee;
    float: left;
    background: #fff;
}
div.tb-uploaded-image-container ul li img{
    height: auto;
    max-height: 120px;
}
div.tb-uploaded-image-container ul{
    min-height: 40px;
}
#divSmallBoxes .SmallBox {
    width: 200px;
}
.dop_foto img{
    max-width: 120px;
    max-height: 120px;
}

.editable2-click, a.editable2-click, a.editable2-click:hover {
    border-bottom: 1px dashed #08c;
    text-decoration: none;
}
.editable2-buttons {
    display: inline-block;
    margin-left: 7px;
    vertical-align: top;
}
.editable2-input {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    width: auto;
}
.popover{
    max-width: 376px;
}
.red{
    color: red;
}

#ui-datepicker-div, .clockpicker-popover{
    z-index: 100000 !important;
}
.input-group-addon{
    position: relative;
    z-index: 3;
}
.smart-form .toggle{
    font-size: 13px;
    display: table;
}
.banner_preview{
    text-align: center;
    padding:10px 0 0 0;
}
.banner_preview img{
    max-width: 550px;
}
#tree_top{
    max-height: 300px;
}
.flag.flag-en {
    background-position: -144px -154px;
}


/*alexkor 01.12.2015 fixed table resize plugin in modal window */
.modal .modal-dialog {
    transform: none !important;
}

#divSmallBoxes .SmallBox{
    width: 300px;
}
.sorting_desc, .sorting_asc{
    background-color: #eee;
}
.sorting{
    cursor: pointer;
    background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC") no-repeat scroll right center;
}

.sorting_asc {
    background: #eee url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC") no-repeat scroll right center;
}
.sorting_desc {
    background: #eee url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=") no-repeat scroll right center;
}
.uploaded-files ul{
    padding: 10px 0 0 0;
}
.uploaded-files ul li{
    list-style: none;
}
.uploaded-files ul a{
    margin: 0 5px;
}
.uploaded-files ul a.delete{
    color: red;
}
[name=filter] td{
    padding: 0 10px 0 0;
}
.add_group{
    color: green;
}
.delete_group{
    color: red;
    cursor: pointer;
}
.content_all_photo{
    background: #fff;
}
.one_photo{
    float: left;
    display: inline-block;
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.one_photo .fa{
    color: #fddf81;
    font-size: 100px;
}
.table_album{
    margin-bottom: 0;
}
.content_all_photo {
    padding: 5px;
}
.empty_album {
    text-align: center;
    padding: 50px 0;
}
p.table_album_action_a{
    float: right;
    margin: 0;
}
p.table_album_action_a a{
    margin: 0 10px;
}
#screenshot{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
}

.section_group{
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.fast-edit-buttons{
    display: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 10px;
    position: absolute;
    z-index: 100000;
}
.dblclick-edit{
    border-bottom: 1px dotted #333;
    cursor: pointer;
}
.dblclick-edit:hover{
    border-bottom:none;
}
.fast-edit-buttons .input_field{
    padding-bottom: 5px;
}
.fast-edit-buttons i.btn-cancel{
    cursor: pointer;
    font-size: 19px;
    color: red;
    position: relative;
    top: 3px;
}
.fast-edit-buttons .fa.fa-save{
    font-size: 18px;
    cursor: pointer;
    margin-right: 10px;
}